.task {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 25vh;
  width: 30vw;
  z-index: -999;
  overflow: hidden;
  margin-right: 10px;
}

.task__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__header > span {
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid inherit;
  padding: 5px;
  margin-left: 5px;
}

.task__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.task__buttons > * {
  color: white !important;
}

.task__buttonsDone {
  background-color: #0f78d4 !important;
}

.task__buttonsDelete {
  background-color: #ff0303 !important;
}

.task__headerUser {
  font-size: 15px;
  font-weight: 400;
  color: whitesmoke;
}

.task__headerUserYellow {
  font-size: 15px;
  font-weight: 400;
  color: #595959;
}

.task__headerTask {
  font-size: 20px;
  font-weight: 500;
  color: whitesmoke;
}

.task__headerTaskYellow {
  font-size: 20px;
  font-weight: 500;
  color: #595959;
}
